@{
    string controlador = "";
    string accion = "Index";
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}
<header>
    <aside id="sidebar">
        <div class="d-flex flex-column">
            <button class="toggle-btn" type="button">
                <i class="lni lni-menu"></i>
            </button>
            <div class="sidebar-logo">
                <h1>ADCON</h1>
            </div>
        </div>
        <ul class="sidebar-nav">
            @if (ViewBag.Menus != null)
            {
                foreach (var menu in ViewBag.Menus)
                {
                    accion = "Index";
                    if (!@menu.Ruta.Contains("/"))
                    {
                        controlador = @menu.Ruta;
                    }
                    else
                    {
                        // Descomponer la ruta en controlador y acción
                        var rutaDividida = menu.Ruta.Split('/', StringSplitOptions.RemoveEmptyEntries);
                        controlador = rutaDividida.Length > 0 ? rutaDividida[0] : "Home";
                        accion = rutaDividida.Length > 1 ? rutaDividida[1] : "Index";
                    }

                    // Verificar si es la página actual
                    bool isActive = string.Equals(controlador, currentController, StringComparison.OrdinalIgnoreCase);


                    <li class="sidebar-item">
                        <a href="@Url.Action(accion, controlador)" class="sidebar-link @(isActive ? "active" : "")">
                            <i class="@menu.Icono"></i>
                            <span>@menu.Nombre</span>
                        </a>
                    </li>
                    @if (@menu.Nombre == "Invitaciones")
                    {
                        <hr class="bg-light border-2 border-top border-light" />
                    }
                    
                }
            }

            <!--
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                   data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="lni lni-protection"></i>
                    <span>Auth</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Login</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Register</a>
                    </li>
                </ul>
            </li>
             --> 

        <div class="sidebar-footer">
                <a href="@Url.Action("Logout", "Login")" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
                <!-- Imagen -->
                <div class="pt-5">
                    <img src="~/img/logo-blanco.png" style="width:100%; max-width:80px;" />
                </div>
        </div>
    </aside>
</header>