@model EntityLayer.Concrete.Usuario
@{
    ViewData["Title"] = "Cambio contraseña";
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_HeaderLayoutComponentPartial")
<body>
    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header">
                        Registrate
                    </div>
                    <div class="card-body">

                        <form asp-controller="Login" asp-action="CambioPasswordEmail" method="post" enctype="multipart/form-data">
                            <input class="form-control mb-3" type="email" placeholder="Correo" required asp-for="Correo" required />
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Recuperar Contraseña</button>

                            @if (@TempData["MensajeExito"] != null)
                            {
                                <div class="form-group mt-3">
                                    <div class="alert alert-success" role="alert">
                                        @TempData["MensajeExito"]
                                    </div>
                                </div>
                            }

                            @if (@TempData["MensajeError"] != null)
                            {
                                <div class="form-group mt-3">
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["MensajeError"]
                                    </div>
                                </div>
                            }

                            @if (@TempData["Mensaje"] != null)
                            {

                                <div class="form-group mt-3">
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["Mensaje"]
                                    </div>
                                </div>
                            }

                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
